CRC
iac/.terraform.lock.hcl
iac/.terraform

iac/main/backend/.terraform
iac/main/backend/.terraform.lock.hcl
iac/main/backend/terraform.tfstate
iac/main/backend/terraform.tfstate.backup


iac/cert/.terraform
iac/oidc/.terraform